* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  display: inline-block;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}
a {
  text-decoration: none;
}
a,
span {
  display: inline-block;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #2a2a2a;
  font-size: 16px;
  line-height: 100%;
}

#root {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.green-btn {
  padding: 10px 52px;
  border-radius: 13px;
  background: #44ad48;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #44ad48;
  transition: all 0.2s linear;
  &:hover {
    background-color: #fff;
    color: #44ad48;
  }
}
.title {
  font-weight: 700;
  font-size: 61px;
  line-height: 66px;
  letter-spacing: 0%;
  text-align: center;
  span {
    color: #4baf4f;
  }
}
.sub-title {
  font-size: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #3d3d3d;
  margin-top: 30px;
}

// header
.header {
  margin: 20px 0 26px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav {
    &__list {
      display: flex;
      gap: 40px;
    }
    &__link {
      color: #959595;
      &.active {
        color: #4baf4f;
        font-weight: 700;
      }
      &:hover {
        color: #4baf4f;
      }
    }
  }
}
// header

// hero
.hero {
  margin: 115px 0 240px 0;
  &__container {
    position: relative;
    background: url("../images/hero-bg.png"),
      linear-gradient(94.35deg, #4baf4f 12.77%, #008205 97.82%);
    background-repeat: no-repeat;
    padding: 70px 47px 54px 140px;
    max-width: 1720px;
    margin: 0 auto;
    height: 622px;
    border-radius: 30px;
  }
  &-content {
    color: #fff;
    max-width: 800px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    &__title {
      font-weight: 700;
      font-size: 60px;
      line-height: 119%;
      letter-spacing: -0.6%;
    }
    &__info {
      font-size: 24px;
      line-height: 100%;
      margin-top: 15px;
    }
    .white-btn {
      background: #fff;
      border-radius: 13px;
      font-size: 24px;
      font-weight: 700;
      color: #4baf4f;
      height: 86px;
      width: 516px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &-img {
    position: absolute;
    right: 0;
    bottom: 0;
    &__phone {
      position: absolute;
      bottom: 0;
      right: 47px;
      width: 398px;
      height: 711px;
    }
  }
  &__qr {
    position: relative;
    width: fit-content;
    margin-left: auto;
    transform: translateX(38px);
    margin-right: 309px;
    bottom: 48px;
    &-arrow {
      position: absolute;
      right: 230px;
      bottom: 0;
    }
    &-text {
      position: absolute;
      font-size: 24px;
      line-height: 100%;
      color: #fff;
      left: -256px;
      bottom: 143px;
    }
  }
}
// hero end

// situations
.situations {
  position: relative;
  margin-bottom: 200px;
  z-index: 1;
  &__line {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
  .title-box {
    max-width: 850px;
    margin: 0 auto;
    p {
      max-width: 603px;
      margin: 30px auto 0 auto;
      line-height: 130%;
    }
  }
  &__boxes {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
  }
  .boxes-left {
    .situations__box {
      &:last-child {
        margin-left: 257px;
        margin-top: 71px;
      }
    }
  }
  .boxes-right {
    .situations__box {
      margin-left: auto;
      &:last-child {
        align-items: end;
        margin-right: 177px;
        & > img {
          margin-bottom: 23px;
        }
      }
    }
  }
  &__box {
    display: flex;
    gap: 10px;
    width: fit-content;
    align-items: start;
  }
  .msg-box {
    display: flex;
    gap: 15px;
    align-items: center;
    background: #f2f2f2;
    padding: 17px 27px;
    max-width: 311px;
    &.left {
      border-radius: 35px 35px 35px 10px;
    }
    &.right {
      border-radius: 35px 35px 10px 35px;
    }
  }
}
// situations end

// installations
.installations {
  background-color: #fbfbfb;
  padding: 108px 0;
  &__boxes {
    display: flex;
    gap: 58px;
    justify-content: center;
    margin: 50px 0 40px 0;
  }
  &__box {
    background: #fff;
    box-shadow: 0px 0px 37.7px 0px #0000001a;
    width: 217px;
    height: 217px;
    border-radius: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:first-child {
      transform: rotate(-5.18deg);
    }
    &:last-child {
      transform: rotate(5.44deg);
    }
  }
  &__info {
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    max-width: 1006px;
    margin: 0 auto;
  }
}
// installations end

//service
.service {
  padding: 153px 0 257px 0;
  &__boxes {
    display: flex;
    align-items: center;
    gap: 92px;
    margin-top: 90px;
  }
  &__left-boxes,
  &__right-boxes {
    display: flex;
    flex-direction: column;
    gap: 31px;
  }
  &__box {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #f4faf5;
    border-radius: 16px;
    padding: 20px;
    &-title {
      font-weight: 800;
      font-size: 32px;
      line-height: 100%;
      margin-bottom: 20px;
      span {
        color: #4baf4f;
      }
    }
    &-desc {
      line-height: 100%;
    }
    &-arrow {
      margin: 5px 0;
    }
    &-count {
      position: absolute;
      font-weight: 700;
      font-size: 113px;
      line-height: 100%;
      bottom: -13px;
      z-index: -1;
      right: -8px;
      color: #4baf4f0d;
    }
  }
  &__phone-box {
    position: relative;
    min-width: 258px;
    max-width: 258px;
    height: 537px;
    z-index: 1;
    &-img {
      width: 100%;
      height: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 339px;
      height: 339px;
      border-radius: 50%;
      border: 3px solid #4baf4f14;
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 283px;
      height: 283px;
      border-radius: 50%;
      background-color: #4baf4f;
      z-index: -1;
    }
  }
}
// service end

.features {
  margin-bottom: 340px;
  .title {
    margin-bottom: 92px;
  }
  &__cards {
    display: grid;
    gap: 20px;
    &.top {
      grid-template-columns: 827px 594px;
    }
    &.bottom {
      grid-template-columns: 594px 827px;
      margin-top: 20px;
    }
  }
  &__card {
    background-color: #4baf4f0f;
    border-radius: 16px;
    padding: 40px 30px 0 30px;
    position: relative;
    overflow: hidden;
    min-height: 506px;
    &:last-child {
      .flex-box {
        display: flex;
        gap: 49px;
        margin-top: 20px;
        position: absolute;
        bottom: 0;
        right: 30px;
        left: 30px;
      }
      .feature-phone {
        margin: auto 0 0 auto;
      }
    }
    &-title {
      font-weight: 700;
      font-size: 32px;
      line-height: 100%;
      margin-bottom: 10px;
    }
    &-desc {
      font-size: 24px;
      line-height: 150%;
      width: 79%;
    }
    .feature-phone {
      width: 344px;
      box-shadow: 0px 0px 18.57px 0px #00000014;
      margin: 30px auto 0 auto;
      display: block;
      border-radius: 16px 16px 0 0;
    }
    .notification-img {
      width: 237px;
      position: absolute;
      left: 30px;
      bottom: 43px;
    }
    .admin-box {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: end;
      position: absolute;
      bottom: 30px;
      right: 30px;
      .admin-img {
        width: 50px;
        height: 50px;
        border-radius: 12px;
        background: #4baf4f1a;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .admin-name {
        font-weight: 500;
        font-size: 17px;
        line-height: 100%;
      }
    }
    .numbers-img {
      position: absolute;
      bottom: -35px;
      left: 0;
    }
  }
}

// contact
.contact {
  margin-bottom: 278px;
  &__boxes {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    max-width: 720px;
    &-title {
      font-weight: 700;
      font-size: 54px;
      line-height: 110.00000000000001%;
    }
    &-desc {
      font-size: 16px;
      line-height: 140%;
      color: #464646;
      margin-top: 20px;
    }
    .social-media {
      margin: 43px 0;
      display: flex;
      gap: 10px;
      &__card {
        width: 60px;
        height: 60px;
        background: #fff;
        box-shadow: 0px 0px 11.4px 0px #0000001c;
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
    .question-text {
      font-weight: 700;
      line-height: 100%;
      color: #000000;
    }
  }
  &__form {
    max-width: 593px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    &-input {
      width: 100%;
      height: 63px;
      background-color: #f7f7f7;
      border-radius: 20px;
      outline: none;
      border: none;
      font-size: 16px;
      line-height: 100%;
      padding: 20px 30px;
      &::placeholder {
        color: #9c9c9c;
      }
    }
    .form-text {
      line-height: 100%;
      margin: 4px 0 36px 0;
      a {
        color: #4baf4f;
        text-decoration: underline;
      }
    }
    .green-btn {
      height: 64px;
      font-size: 18px;
      cursor: pointer;
    }
  }
}
// contact

// modal

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0d0d0d66;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  display: flex;
  &.hidden {
    display: none;
  }
  &-close {
    position: absolute;
    top: 33px;
    right: 33px;
    cursor: pointer;
  }
  &-content {
    background: #fff;
    border-radius: 31px;
    padding: 73px 130px;
    text-align: center;
    max-width: 1440px;
    position: relative;
  }
  &-title {
    font-weight: 700;
    font-size: 61px;
    line-height: 150%;
  }
  &-subtitle {
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
  }
  &-desc {
    margin-top: 21px;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #a1a1a1;
  }
  .check-box {
    margin: 50px auto;
    width: 289px;
    height: 289px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #04c17d17;
    border-radius: 50%;
    &__child {
      width: 156px;
      border-radius: 50%;
      height: 156px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #3cbd56;
    }
  }
  &-bottom__info {
    max-width: 684px;
    margin: 0 auto;
    font-size: 28px;
    line-height: 100%;
  }
}
